.footer {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem 0;
  position: relative;
}

.footer-text {
  font-size: 1.2rem;
  color: var(--text-secondary-color);
  margin: 0;
}
